<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=sport%></title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            font-size: 2.5rem;
            color: #333;
            margin-bottom: 20px;
        }

        .session {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        .session:hover {
            background-color: #f0f0f0;
        }

        .session-info {
            flex: 1;
            margin-left: 10px;
        }

        .session-info span {
            display: block;
            margin-bottom: 5px;
        }

        .session-info span:first-child {
            font-weight: bold;
        }

        .session-actions {
            margin-left: 10px;
        }

        .session-actions a {
            color: #007bff;
            text-decoration: none;
            margin-right: 10px;
        }

        .session-actions a:hover {
            text-decoration: underline;
        }

        .create-session-link {
            margin-top: 20px;
            display: inline-block;
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
        }

        .create-session-link:hover {
            background-color: #0056b3;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1><%=sport%></h1>
        <div class="sessions">
            <% if(ses == null || ses.length == 0) {%>
                <p>There are no sessions available, wanna create one?</p>
            <%} else{%>
                <% for(var i=0; i<ses.length; i++) {%>
                    <div class="session">
                        <div class="session-info">
                            <span>Session <%=i+1%></span>
                            <span>Date: <%=ses[i].date%></span>
                            <span>Time: <%=ses[i].time%></span>
                            <span>Location: <%=ses[i].location%></span>
                            <span class="slots-left">Slots left: <%=ses[i].additional%></span>
                        </div>
                        <div class="session-actions">
                            <a href="/session/<%= ses[i].id %>" class="view-session-link">View</a>
                            <a href="/delete-session/<%= ses[i].id %>" class="delete-session-link">Delete</a>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
        <a href="/createsession/<%=sport%>" class="create-session-link">Create Session</a>
        <a href='/sport/<%=sport%>/report' class="text-green-600 p-2 underline">View Report</a><br><br>
        <a  class="text-green-600 p-4 underline cursor-pointer" onclick="deleteSport('<%=sport%>')">Delete Sport</a>
        <div><a href='/home' class="text-green-600">Return to home page</a></div>
    </div>
    <script>
        function deleteSport(sport){
            fetch(`/sport/${sport}`,{
                method:"delete",
                headers:{"Content-Type":"application/json"},
                
            }).then((res)=>{
                if(res.ok){
                    window.location.replace("/home");
                }
            }).catch((error)=>console.log(error));
        }
    </script>
</body>
</html>
